@import 'rc-tree/assets/index.css';

.rc-tree-switcher {
  background-image: none !important;
}

.rc-tree-title {
  margin-left: 0.25rem;
}

.rc-tree-treenode {
  @apply hover:bg-black/5 cursor-pointer transition-all;
}
.rc-tree-treenode-selected {
  @apply bg-primary text-primary-foreground shadow border-primary hover:bg-primary/90;
}
.rc-tree-node-selected {
  @apply bg-transparent border-none shadow-none;
}

.rc-tree-node-content-wrapper {
  position: static !important;
}

.rc-tree-list-holder-inner .rc-tree-treenode {
  position: relative;
}

.node-motion {
  transition: all 0.3s;
  overflow-y: hidden;
}
